<div #background class="container">
    <app-sidebar></app-sidebar>
    <div #drawingContainer class="drawing-container">
        <app-drawing class="drawing mat-elevation-z8" tabindex="0"></app-drawing>
    </div>
</div>
