.container {
    height: 100%;
    display: flex;
}

.drawing-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;

    ::ng-deep svg {
        background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
    }
}
