@import '~@angular/material/theming';

@include mat-core();

$theme-colors: (
    pink: mat-palette($mat-pink, 300),
    purple: mat-palette($mat-purple, A400),
    indigo: mat-palette($mat-indigo, 200),
    teal: mat-palette($mat-teal, A200),
    blue: mat-palette($mat-light-blue, 500),
    green: mat-palette($mat-light-green, 500),
    lime: mat-palette($mat-lime, A400),
    yellow: mat-palette($mat-yellow, A700),
    orange: mat-palette($mat-orange, 500),
    red: mat-palette($mat-red, A700),
    brown: mat-palette($mat-brown, A400),
);

@mixin theme-mixin($theme) {
    @include angular-material-theme($theme);

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $drawer-side-border: solid 1px mat-color($foreground, divider);

    @each $color-name, $theme-color in $theme-colors {
        .#{$color-name + '-theme-color'} {
            background-color: mat-color($theme-color);
        }
    }

    .theme-background-color {
        background-color: mat-color($background, background);
    }

    .theme-dialog {
        mat-dialog-container {
            background-color: mat-color($background, background);

            mat-dialog-content {
                max-height: 78vh;
            }

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    .theme-drawer-right-border {
        border-right: $drawer-side-border;
    }

    .theme-selected-button {
        background-color: mat-color($primary) !important;
    }

    @if $primary ==
        map-get($theme-colors, purple) or
        $primary ==
        map-get($theme-colors, blue) or
        $primary ==
        map-get($theme-colors, red) or
        $primary ==
        map-get($theme-colors, brown)
    {
        .theme-selected-button > * {
            color: white;
        }
    } @else {
        .theme-selected-button > * {
            color: rgba(0, 0, 0, 0.87);
        }
        .logo {
            filter: brightness(0%);
        }
    }

    .theme-user-selection-rect {
        fill: rgba(mat-color($primary), 0.2);
        stroke: rgba(mat-color($primary), 0.8);
    }

    .theme-selected-elements-rect,
    .theme-eraser {
        stroke: mat-color($primary, darker);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: mat-color($primary);
    }
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-corner {
        background: mat-color($background, app-bar);
    }

    .theme-error-tooltip {
        color: mat-color($warn);
    }
}

@each $color-name, $theme-color in $theme-colors {
    .#{$color-name + '-light-theme'} {
        @include theme-mixin(mat-light-theme($theme-color, $theme-color));
    }

    .#{$color-name + '-dark-theme'} {
        @include theme-mixin(mat-dark-theme($theme-color, $theme-color));
    }
}
