/* You can add global styles to this file, and also import other style files */

@import 'custom-themes.scss';

html,
body {
    height: 100%;
    overscroll-behavior: contain;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    min-width: max(0.5vh, 0.5vw);
    min-height: max(0.5vh, 0.5vw);
    max-width: min(1.5vh, 1.5vw);
    max-height: min(1.5vh, 1.5vw);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(193, 193, 193);
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
