<div class="container">
    <mat-toolbar class="header-item" color="primary">
        <img class="logo" src="assets/logo/feather_logo.svg" />
        <span>Drawsy</span>
    </mat-toolbar>
    <div class="buttons-container">
        <button mat-raised-button class="button-item" color="primary" (click)="openNewDrawingModal()">
            <div class="button-content">
                <mat-icon class="button-icon" svgIcon="card-plus-outline"></mat-icon>
                <span class="button-text">Créer un nouveau dessin</span>
            </div>
        </button>
        <button mat-raised-button class="button-item" color="primary" *ngIf="isDrawingStarted" routerLink="/editor">
            <div class="button-content">
                <mat-icon class="button-icon" svgIcon="forward"></mat-icon>
                <span class="button-text">Continuer un dessin</span>
            </div>
        </button>
        <button mat-raised-button class="button-item" color="primary" (click)="openGalleryModal()">
            <div class="button-content">
                <mat-icon class="button-icon" svgIcon="image-multiple-outline"></mat-icon>
                <span class="button-text">Galerie de dessins</span>
            </div>
        </button>
        <button mat-raised-button class="button-item" color="primary" (click)="openGuideModal()">
            <div class="button-content">
                <mat-icon class="button-icon" svgIcon="help-circle-outline"></mat-icon>
                <span class="button-text">Guide d'utilisation</span>
            </div>
        </button>
        <button mat-raised-button class="button-item" color="primary" (click)="openThemeSettingsModal()">
            <div class="button-content">
                <mat-icon class="button-icon" svgIcon="cog"></mat-icon>
                <span class="button-text">Paramètres</span>
            </div>
        </button>
    </div>

    <div class="footer-item">
        <mat-divider></mat-divider>
        <p class="names">Francis Pepin • Justin van den Hanenberg • Misha Krieger-Raynauld • Samer Massaad • Simon Gauvin</p>
    </div>
</div>
