.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-item {
    justify-content: center;
    text-align: center;
    font-size: 128px;
    font-weight: lighter;
    height: 30%;
}

.footer-item {
    text-align: center;
}

.names {
    margin-top: 8px;
    margin-bottom: 16px;
}

.logo {
    margin-left: -200px;
    width: 200px;
    height: 200px;
}

.title-item {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
    max-width: 1200px;
}

.button-item {
    width: 200px;
    height: 200px;
    min-height: unset;
    min-width: unset;
    max-height: 60%;
    text-align: center;
    margin: 4px;
}

.button-item:hover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-text {
    white-space: normal;
}

.button-icon {
    width: 72px;
    height: 72px;
    opacity: 0.9;
}

@media (max-width: 800px) {
    .header-item {
        font-size: 64px;
        height: 20%;
    }

    .logo {
        margin-left: -80px;
        width: 80px;
        height: 80px;
    }

    .buttons-container {
        flex-direction: column;
        height: 60%;
    }

    .button-item {
        width: 60%;
    }

    .button-icon {
        width: 32px;
        height: 32px;
    }
}
