<div class="container">
    <mat-toolbar class="title-item" color="primary">{{ currentToolName }}</mat-toolbar>

    <div class="settings-container">
        <h3 class="color-title-item">Couleur</h3>
        <app-sidebar-color-picker></app-sidebar-color-picker>
        <mat-divider></mat-divider>

        <ng-container *ngFor="let formControlContainer of sizeFormControls">
            <div *ngIf="getProperty(this.currentToolSettings, formControlContainer.toolSetting) !== undefined" class="size-container">
                <h3 class="setting-title-item">{{ formControlContainer.title }}</h3>
                <mat-form-field
                    class="form-field-item"
                    [matTooltip]="getErrorMessage(formControlContainer.formControl)"
                    [matTooltipDisabled]="formControlContainer.formControl.valid"
                    matTooltipClass="theme-error-tooltip"
                >
                    <input matInput [formControl]="formControlContainer.formControl" />
                    <span matSuffix>{{ formControlContainer.suffix }}</span>
                </mat-form-field>
                <mat-slider
                    class="slider-item"
                    [min]="formControlContainer.minimum"
                    [max]="formControlContainer.maximum"
                    [value]="formControlContainer.formControl.value"
                    (input)="formControlContainer.formControl.setValue($event.value)"
                >
                </mat-slider>
                <mat-divider class="divider-item"></mat-divider>
            </div>
        </ng-container>

        <ng-container *ngFor="let formControlContainer of toggleSliderFormControls">
            <div
                *ngIf="getProperty(this.currentToolSettings, formControlContainer.toolSetting) !== undefined"
                class="toggle-slider-container"
            >
                <h3 class="setting-title-item">{{ formControlContainer.title }}</h3>
                <mat-form-field
                    class="form-field-item"
                    [matTooltip]="getErrorMessage(formControlContainer.sliderFormControl)"
                    [matTooltipDisabled]="formControlContainer.sliderFormControl.valid"
                    matTooltipClass="theme-error-tooltip"
                >
                    <input matInput [formControl]="formControlContainer.sliderFormControl" />
                    <span matSuffix>{{ formControlContainer.suffix }}</span>
                </mat-form-field>
                <mat-slide-toggle class="toggle-item" [formControl]="formControlContainer.toggleFormControl"></mat-slide-toggle>
                <mat-slider
                    class="slider-item"
                    [disabled]="!formControlContainer.toggleFormControl.value"
                    [min]="formControlContainer.minimum"
                    [max]="formControlContainer.maximum"
                    [value]="formControlContainer.sliderFormControl.value"
                    (input)="formControlContainer.sliderFormControl.setValue($event.value)"
                >
                </mat-slider>
                <mat-divider class="divider-item"></mat-divider>
            </div>
        </ng-container>

        <div *ngIf="currentToolSettings.brushTexture !== undefined">
            <h3 class="brush-texture-title-item">Type de texture</h3>
            <mat-form-field class="dropdown-item">
                <mat-label>Sélection</mat-label>
                <mat-select [(value)]="currentToolSettings.brushTexture">
                    <mat-option [value]="BrushTexture.Graffiti">Âme fragile</mat-option>
                    <mat-option [value]="BrushTexture.Blur">Vent d'automne</mat-option>
                    <mat-option [value]="BrushTexture.Shadow">Ombre du matin</mat-option>
                    <mat-option [value]="BrushTexture.Matte">Chlorophylle</mat-option>
                    <mat-option [value]="BrushTexture.Fabric">Innocence juvénile</mat-option>
                    <mat-option [value]="BrushTexture.Cloud">Nuages du rêveur</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-divider class="divider-item"></mat-divider>
        </div>

        <div *ngIf="currentToolSettings.shapeType !== undefined">
            <div class="shape-type-container">
                <h3 class="shape-type-title-item">Tracé</h3>
                <mat-button-toggle-group [(ngModel)]="currentToolSettings.shapeType">
                    <mat-button-toggle
                        class="shape-type-toggle-button"
                        [class.theme-selected-button]="currentToolSettings.shapeType === ShapeType.FillWithBorder"
                        [value]="ShapeType.FillWithBorder"
                    >
                        <mat-icon svgIcon="checkbox-intermediate"></mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle
                        class="shape-type-toggle-button"
                        [class.theme-selected-button]="currentToolSettings.shapeType === ShapeType.FillOnly"
                        [value]="ShapeType.FillOnly"
                    >
                        <mat-icon svgIcon="checkbox-blank"></mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle
                        class="shape-type-toggle-button"
                        [class.theme-selected-button]="currentToolSettings.shapeType === ShapeType.BorderOnly"
                        [value]="ShapeType.BorderOnly"
                    >
                        <mat-icon svgIcon="checkbox-blank-outline"></mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <mat-divider class="divider-item"></mat-divider>
        </div>
    </div>

    <div class="command-container">
        <mat-divider></mat-divider>
        <div class="zoom-container">
            <mat-form-field
                colspan="2"
                class="zoom-input-item"
                [matTooltip]="getErrorMessage(zoomFormControl)"
                [matTooltipDisabled]="zoomFormControl.valid"
                matTooltipClass="theme-error-tooltip"
            >
                <input matInput [formControl]="zoomFormControl" />
                <span matSuffix>%</span>
            </mat-form-field>
            <button mat-icon-button class="command-item" matTooltip="Réduire le dessin (Ctrl+Scroll)" (click)="zoomOut()">
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-icon-button class="command-item" matTooltip="Agrandir le dessin (Ctrl+Scroll)" (click)="zoomIn()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button class="command-item" matTooltip="Réinitialiser la vue (Ctrl+Enter)" (click)="resetCanvasView()">
                <mat-icon>fullscreen</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div class="clipboard-container">
            <button mat-icon-button class="command-item" matTooltip="Copier (Ctrl+C)" [disabled]="!isSelectionAvailable" (click)="copy()">
                <mat-icon svgIcon="content-copy"></mat-icon>
            </button>
            <button mat-icon-button class="command-item" matTooltip="Coller (Ctrl+V" [disabled]="!isPastingAvailable" (click)="paste()">
                <mat-icon svgIcon="content-paste"></mat-icon>
            </button>
            <button mat-icon-button class="command-item" matTooltip="Couper (Ctrl+X)" [disabled]="!isSelectionAvailable" (click)="cut()">
                <mat-icon svgIcon="content-cut"></mat-icon>
            </button>
            <button
                mat-icon-button
                class="command-item"
                matTooltip="Dupliquer (Ctrl+D)"
                [disabled]="!isSelectionAvailable"
                (click)="duplicate()"
            >
                <mat-icon svgIcon="content-duplicate"></mat-icon>
            </button>
            <button
                mat-icon-button
                class="command-item"
                matTooltip="Supprimer (Backspace)"
                [disabled]="!isSelectionAvailable"
                (click)="delete()"
            >
                <mat-icon svgIcon="delete-outline"></mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div class="undo-redo-container">
            <button mat-icon-button class="command-item" matTooltip="Annuler (Ctrl+Z)" [disabled]="!isUndoAvailable" (click)="undo()">
                <mat-icon svgIcon="undo-variant"></mat-icon>
            </button>
            <button mat-icon-button class="command-item" matTooltip="Refaire (Ctrl+Shift+Z)" [disabled]="!isRedoAvailable" (click)="redo()">
                <mat-icon svgIcon="redo-variant"></mat-icon>
            </button>
        </div>
    </div>
</div>
