.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-item {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

.settings-container {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.color-title-item {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.size-container {
    display: grid;
    grid-template-areas:
        'setting-name input-field'
        'slider slider'
        'divider divider';
}

.setting-title-item {
    grid-area: setting-name;
    align-self: end;
    margin-bottom: 0;
}

.form-field-item {
    grid-area: input-field;
    justify-self: right;
    text-align: right;
    width: 70px;

    ::ng-deep .mat-form-field-wrapper {
        margin-bottom: -1.25em;
    }
}

.slider-item {
    grid-area: slider;
    width: 100%;
}

.divider-item {
    grid-area: divider;
    width: 100%;
}

.toggle-slider-container {
    display: grid;
    grid-template-areas:
        'setting-name toggle input-field'
        'slider slider slider'
        'divider divider divider';
}

.toggle-item {
    grid-area: toggle;
    justify-self: center;
    align-self: center;
    margin-top: 12px;
}

.brush-texture-title-item {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.dropdown-item {
    margin-top: 10px;
    width: 100%;
}

.shape-type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.shape-type-title-item {
    margin-bottom: 0;
}

.shape-type-toggle-button ::ng-deep .mat-button-toggle-label-content {
    line-height: 44px;

    .mat-icon {
        width: 22px;
        transform: scale(1.2);
    }
}

.command-container {
    justify-self: end;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

.zoom-container {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.zoom-input-item {
    grid-area: input-field;
    justify-self: right;
    text-align: right;
    width: 90px;

    ::ng-deep .mat-form-field-wrapper {
        margin-bottom: -1em;
        margin-top: -0.5em;
    }
}

.clipboard-container {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.undo-redo-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4px;
}

.command-item {
    opacity: 0.9;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
