.title {
    text-align: center;
}

.title-form-field {
    width: 30%;
    font-size: 14px;
}

.chip-list {
    width: 100%;
    font-size: 14px;
}

.preview-item {
    max-height: 62vh !important;
}

.button {
    width: 175px;
    margin-right: 4px;
}
