<form [formGroup]="saveDrawingFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-title>
        <h1 class="title">{{ isCreateDrawingAction ? 'Sauvegarder le dessin' : 'Mettre à jour le dessin' }}</h1>
        <mat-form-field class="title-form-field">
            <mat-label>Titre</mat-label>
            <input matInput formControlName="title" />
            <mat-error *ngIf="saveDrawingFormGroup.controls.title.invalid">
                {{ getErrorMessage(saveDrawingFormGroup.controls.title) }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="chip-list">
            <mat-chip-list #chipList aria-label="Sélection des étiquettes">
                <mat-chip *ngFor="let label of labels" selectable="true" removable="true" (removed)="removeLabel(label)">
                    {{ label }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                    formControlName="labels"
                    placeholder="Nouvelle étiquette"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    matChipInputAddOnBlur="true"
                    (matChipInputTokenEnd)="addLabel($event)"
                    autocomplete="off"
                />
                <mat-error *ngIf="saveDrawingFormGroup.controls.labels.invalid">
                    {{ getErrorMessage(saveDrawingFormGroup.controls.labels) }}
                </mat-error>
            </mat-chip-list>
        </mat-form-field>
    </div>
    <mat-dialog-content class="preview-item">
        <mat-card>
            <app-drawing-preview #appDrawingPreview></app-drawing-preview>
        </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close class="button">Annuler</button>
        <button mat-raised-button mat-dialog-close class="button" type="submit" [disabled]="saveDrawingFormGroup.invalid">
            {{ isCreateDrawingAction ? 'Sauvegarder' : 'Mettre à jour' }}
        </button>
    </mat-dialog-actions>
</form>
