.title {
    margin: 4px;
    text-align: center;
}

.size-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.form-field-item {
    width: 120px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.color-picker-container {
    margin: 4px auto 0 auto;
}
