<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div #background class="mat-app-background container" [class]="theme">
    <router-outlet></router-outlet>
</div>
