.container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.color-title-item {
    margin-bottom: 8px;
    margin-right: 16px;
}

.circle-item {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    cursor: pointer;
}

.margin-top {
    margin-top: 24px;
}

.small-margin-right {
    margin-right: 2px;
}

.margin-right {
    margin-right: 16px;
}

.column {
    flex-direction: column;
}
