<div class="container space-between margin-top">
    <div class="container">
        <h4 class="color-title-item">Couleur</h4>
        <div class="container">
            <div
                *ngFor="let themeColor of themeColors"
                class="circle-item mat-elevation-z2 small-margin-right"
                matRipple
                [class]="themeColor + '-theme-color'"
                (click)="color = themeColor"
            ></div>
        </div>
    </div>
    <div class="container">
        <h4 class="margin-right">Clair - Sombre</h4>
        <mat-slide-toggle [(ngModel)]="isDarkTheme"></mat-slide-toggle>
    </div>
</div>
<div class="container margin-top">
    <div class="container column">
        <h4 class="margin-right">Motif d'arrière plan</h4>
        <mat-form-field class="dropdown-item">
            <mat-label>Sélection</mat-label>
            <mat-select [(value)]="currentBackgroundPattern">
                <mat-option [value]="BackgroundPattern.None">Aucun</mat-option>
                <mat-option [value]="BackgroundPattern.Paper">Papier</mat-option>
                <mat-option [value]="BackgroundPattern.Boxes">Boite</mat-option>
                <mat-option [value]="BackgroundPattern.Polka">Polka</mat-option>
                <mat-option [value]="BackgroundPattern.Checkered">Carreaux</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
