.title {
    text-align: center;
}

.options-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.title-item {
    width: 100%;
    padding-right: 16px;
}

.filter-item {
    width: 100%;
}

.file-type-container {
    width: 100%;
    padding-left: 16px;
    display: flex;
    justify-self: right;
}

.file-type-title-item {
    width: 110px;
    align-self: center;
    margin-bottom: 0;
    margin-right: 12px;
}

.toggle-group-item {
    height: 48px;
}

.email-container {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.form-field-item {
    width: 100%;
    padding-left: 16px;
}

.preview-item {
    max-height: 62vh !important;
}

.button {
    width: 175px;
    margin-right: 4px;
}
