<form [formGroup]="exportDrawingFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-title>
        <h1 class="title">Exporter le dessin</h1>
        <div class="options-container">
            <mat-form-field class="title-item">
                <mat-label>Titre</mat-label>
                <input matInput formControlName="title" />
                <mat-error *ngIf="exportDrawingFormGroup.controls.title.invalid">
                    {{ getErrorMessage(exportDrawingFormGroup.controls.title, 'A-Z, a-z, 0-9') }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="filter-item">
                <mat-label>Type de filtre</mat-label>
                <mat-select [(value)]="drawingFilter">
                    <mat-option [value]="DrawingFilter.None">Aucun filtre</mat-option>
                    <mat-option [value]="DrawingFilter.BlackAndWhite">Noir et blanc</mat-option>
                    <mat-option [value]="DrawingFilter.Sepia">Sepia</mat-option>
                    <mat-option [value]="DrawingFilter.Pixel">Pixel</mat-option>
                    <mat-option [value]="DrawingFilter.Eighties">1980</mat-option>
                    <mat-option [value]="DrawingFilter.Corrupt">Corrompu</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="file-type-container">
                <h4 class="file-type-title-item">Type de fichier&nbsp;:</h4>
                <mat-button-toggle-group class="toggle-group-item" [(ngModel)]="fileType" [ngModelOptions]="{ standalone: true }">
                    <mat-button-toggle [class.theme-selected-button]="fileType === FileType.Svg" [value]="FileType.Svg">
                        SVG
                    </mat-button-toggle>
                    <mat-button-toggle [class.theme-selected-button]="fileType === FileType.Png" [value]="FileType.Png">
                        PNG
                    </mat-button-toggle>
                    <mat-button-toggle [class.theme-selected-button]="fileType === FileType.Jpeg" [value]="FileType.Jpeg">
                        JPEG
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

        <div class="email-container">
            <mat-checkbox formControlName="emailEnabled">Envoyer par courriel</mat-checkbox>

            <mat-form-field class="form-field-item">
                <mat-label>Adresse courriel</mat-label>
                <input matInput formControlName="emailAddress" />
                <mat-error *ngIf="exportDrawingFormGroup.controls.emailAddress.invalid">
                    {{ getErrorMessage(exportDrawingFormGroup.controls.emailAddress, 'Adresse courriel') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <mat-dialog-content class="preview-item">
        <mat-card>
            <app-drawing-preview #appDrawingPreview [drawingFilter]="drawingFilter"></app-drawing-preview>
        </mat-card>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close class="button">Annuler</button>
        <button mat-raised-button mat-dialog-close class="button" type="submit" [disabled]="exportDrawingFormGroup.invalid" cdkFocusInitial>
            {{ exportDrawingFormGroup.controls.emailEnabled.value ? 'Envoyer par courriel' : 'Télécharger' }}
        </button>
    </mat-dialog-actions>
</form>
